@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sohne";
  src: url("../public/fonts/Sohne-Buch.otf");
}

@font-face {
  font-family: "Sohne-Bold";
  src: url("../public/fonts/Sohne-Halbfett.otf");
}